doctype html
html
    head
        title
            |Login
        meta(charset='utf-8')
        meta(http-equiv='X-UA-compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
        link(rel='stylesheet', href='/iCheck/square/blue.css')
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href='#')
                    b
                        |Play with Pros
            .login-box-body
                p.login-box-msg
                    |Sign in to start your session
                form(action='#', method='post')
                    .form-group.has-feedback
                        input.form-control(type='email', placeholder='Email')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='Password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                a(href='#')
                    |I forgot my password
    script(src='/jQuery/jQuery-2.1.4.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/iCheck/icheck.min.js')
